.App {
  text-align: center;
}
/* Custom app */
.App{
    min-height: 100vh;
    padding-bottom: 2vh;
    background-color: #b5c0ff;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0080ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cabecalho{
    background-color: #000b26;
    color: white;
    padding: 10px 0px;
}
.cabecalho h1{
    margin: 0px;
}
/*Components - Corpo*/
#container{
    margin-left: 1vw;
    margin-right: 1vw;
}
#container p {
    margin: 3px;
}
/*Components - news*/
.newsSource{
    text-align: left;
    background-color: #f2f2f2;
    min-height: 70px;
    margin: 15px 2.5px 15px 2.5px;
    border: 2px solid black;
}
.newsSource:hover{
    border: 2px solid #b5c0ff;
}
.newssourceHeader{
    text-transform: capitalize;
}
.newssourceHeader h1{
    margin: 0px;
    background-color: #506db5;
    color: white;
}
.newssourceContainer{
    justify-content: center;
}
.newsItem{
    border: 0.1em dotted black;
    margin: 10px;
    padding: 1em;
}

.newsItem #content{
  display: inline-block;
  vertical-align: top;
}
.newsItem #image_container{
  height: 100px;
  width: 177px;
  display: inline-block;
  margin-right: 25px;
  border: 1px black solid;
}
.newsItem img{
    max-height: 100px;
    max-width: 177px;
    width: 100%;
    height: 100%;
}
.newsItem:hover{
    background-color: #b5c0ff;
}
.filterItens{
  display: inline-block;
  margin-right: 1vw;
  margin-top: 15px;
  padding: 0.3em;
  border: solid 0.25em;
  border-radius: 0.25em;
  background-color: #cecece;
}
